################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/2025RC_CODE-main/2025RC_CODE-main/SWERVE_play/MDK-ARM/MOTOR_CPP.uvguix.ayou
/2025RC_CODE-main/2025RC_CODE-main/SWERVE_play/MDK-ARM/MOTOR_CPP.uvguix.ayou
*.crf
*.o
*.d
*.map
*.axf
*.hex
*.htm
*.dep
*.sct
*.lnp
*.iex
/2025RC_CODE-main/2025RC_CODE-main/SWERVE_play/MDK-ARM/MOTOR_CPP.uvoptx
*.ayou
*.Bak
/MDK-ARM/MOTOR_CPP/MOTOR_CPP.htm
/MDK-ARM/MOTOR_CPP/MOTOR_CPP.htm
/MDK-ARM/MOTOR_CPP/MOTOR_CPP_MOTOR_CPP.dep
/MDK-ARM/MOTOR_CPP/MOTOR_CPP.axf
/MDK-ARM/MOTOR_CPP/MOTOR_CPP.build_log.htm
/MDK-ARM/MOTOR_CPP/MOTOR_CPP.htm
/MDK-ARM/MOTOR_CPP/MOTOR_CPP.map
/MDK-ARM/MOTOR_CPP/MOTOR_CPP.sct
/MDK-ARM/MOTOR_CPP.uvoptx
